body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway' !important;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* :root {
  --bg-color: #121212;
  --accent-color: #369457;
  --font-color: rgba(255, 255, 255, 0.87);
  --font-color-med-emphasis: rgba(255, 255, 255, 0.60);
  --card-bg-color: #1121212;
  --navbar-bg-color: #121212;
  --elevation-color: rgba(255, 255, 255, 0.05);
} */

/* :root {
  --bg-color: #FFFFFF;
  --accent-color: #29773E;
  --font-color: #000000;
  --font-color-med-emphasis: rgba(0, 0, 0, 0.70);
  --card-bg-color: #1121212;
  --navbar-bg-color: #FFFFFF;
  --elevation-color: #DBDEE1;
} */

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}
